$backgroudColor: #80bb35;
.header-title {
  display: flex;
  background: $backgroudColor;

  & p {
    margin-left: 150px;
    padding: 10px 10px 10px 10px;
    font-weight: bold;
    font-size: 18px;
    color: #ffffffff;
    margin-top: auto;
    margin-bottom: auto;
    svg {
      font-size: 21px;
      margin-right: 10px;
      margin-bottom: 5px;
    }
  }
}
